doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Fashion Design Eco-friendly
    link(rel="stylesheet", href="/navbar.css")
  body
    nav
      ul
        if !loggedIn
          li(class=(currentPath=='/' ? 'active' : ''))
            a(href="/") Home
          li(class=(currentPath=='/donate' ? 'active' : ''))
            a(href="/donate") Donate
          li(class=(currentPath=='/about' ? 'active' : ''))
            a(href="/about") About Us
          li(class=(currentPath=='/contact' ? 'active' : ''))
            a(href="/contact") Contact
          li(class=(currentPath=='/login' ? 'active' : ''))
            a(href="/login") Login
        else
          // logged-in nav
          li(class=(currentPath=='/' ? 'active' : ''))
            a(href="/") Home
          li(class=(currentPath=='/shop' ? 'active' : ''))
            a(href="/shop") Shop
          li(class=(currentPath=='/donate' ? 'active' : ''))
            a(href="/donate") Donate
          li(class=(currentPath=='/donations' ? 'active' : ''))
            a(href="/donations") My Donations
          li(class=(currentPath=='/about' ? 'active' : ''))
            a(href="/about") About Us
          li(class=(currentPath=='/contact' ? 'active' : ''))
            a(href="/contact") Contact
          li(class=(currentPath=='/logout' ? 'active' : ''))
            a(href="/logout") Logout
