doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Fashion Design Eco-friendly
    link(rel="stylesheet", href="/navbar.css")
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/shop") Shop
        li
          a(href="/donate") Donate
        li
          a(href="/about") About Us
        li
          a(href="/profile") Profile
        li
          a(href="/contact") Contact
